.about {
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex; /* Ativa o Flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh; /* 100% da altura da tela */
  flex-direction: column; /* Organiza os itens de forma vertical */
}

.about__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.about__content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Garante que as cartas fiquem centralizadas */
}

.about__error {
  color: red;
  font-weight: bold;
}

.card {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Organiza os elementos dentro das cartas */
  justify-content: space-between; /* Espaça os itens dentro da carta */
}

.card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card__wrapper-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__text {
  font-size: 1rem;
  color: #444;
}

.card__save-buttom,
.card__delete-buttom {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__save-icon,
.card__delete-icon {
  font-size: 1.5rem;
}

.card__info {
  margin-top: 20px;
}

.card__news-date {
  font-size: 0.9rem;
  color: #777;
}

.card__news-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.card__news-description {
  font-size: 1rem;
  color: #555;
}

.card__news-sources {
  font-size: 0.9rem;
  color: #888;
}

.card__save-buttom:hover,
.card__delete-buttom:hover {
  opacity: 0.7;
}

.about__author-description {
  font-size: 1rem;
  margin-top: 20px;
}

.about__author-description a {
  color: #007bff;
  text-decoration: none;
}

.about__author-description a:hover {
  text-decoration: underline;
}
